.signUpPage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  min-width: fit-content;
  background-image: url("/Users/User/OneDrive/Documents/CMT322Project/usm-bloodconnect/public/SignIn.png");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  color: #fff;
  font: 800 36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.content {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.heroSection {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  color: #000;
  max-width: 514px;
  margin-top: 22vh;
}

.heroTitle {
  color: #fff;
  font-size: 84px;
  font-weight: 700;
  line-height: 101px;
}

.heroDescription {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .signInPage {
    padding: 0 20px 100px;
  }

  .logo {
    max-width: 100%;
    white-space: initial;
  }

  .content {
    max-width: 100%;
    margin-top: 50px;
  }

  .heroSection {
    max-width: 100%;
  }

  .heroTitle {
    font-size: 40px;
    line-height: 53px;
  }

  .heroDescription {
    max-width: 100%;
  }
}
